<section class="todoapp">
	<header class="header">
		<div class="logo-box">
			<h1>dunzo!</h1><i class="fas fa-check"></i>
			<h3>your daily reminder to stop putting things off</h3>
		</div>	
		<form id="new-form">
				<input type="text" class="new-todo" placeholder="What needs to be done?"/>
			</form>
	</header>
	<section class="main">

		<ul class="todo-list">

		</ul>
		
	</section>
</section>

<section class="author">
	<%= link_to "Justin Cefai", "https://github.com/cefaijustin" %> | Los Angeles | 2018
 </section>